* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
}
.container{
  display: flex;
  justify-content: flex-start;
  margin: 0 auto;
  padding: 10px;
}
.container-h1{
  display: flex;
  width: 100%;
  max-width: 400px;
  flex-direction: column;
  margin: 10px;
}
.list-projects{
  display: block;
  width: 100%;
  max-width: 400px;
  background: #46035c;
  border-radius: 10px;
  padding: 30px;
  margin: 30px;
  justify-content: flex-start;
}

div {
  display: flex;
  background-color:#1b0c24;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

h1 {
  color: #fff;
}
p {
  color: #fff;
}

div ul h1 {
  margin: 5px;
  color: #ffff;
}

div li {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  height: 50px;
  background: #7159c1;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffff;
  padding: 5px;
}

div li + li {
  margin-top: 15px;
  color: #ffff
}

div form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  width: 400px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  margin: 30px;
}

div form h1{
  color: #7159c1;
}

form input{
  width: 100%;
  max-width: 500px;
  display: block;
  padding: 10px;
  border-radius: 8px;
  margin: 5px auto;  
}

button {
  background: #7159c1;
  border-radius: 5px;
  color: #fff;
  border: 0;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
  font-size: 14px;
}

div li button {
  border-radius: 5px;
  margin: 0 15px;
  background: #67e68b;
}
